<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Projects</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Projects</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <!-- Content starts here -->
        <div class="row">

          <div class="col-12">
            <div class="card">

              <div class="card-header">
                <h3 class="card-title">Projects</h3>
              </div>


              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Image</th>       
                      <th class="icon">Published</th>
                      <th>Demo</th>
                      <th>Github</th>
                      <th class="number">Display order</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let project of projects;">
                      <td> {{ project.title }} </td>
                      <td [innerHtml]="project.description"></td>
                      <td> {{ project.image }} </td>
                      <td class="icon"> 
                        <ng-container *ngIf="project.published; else unpublished">
                          <i class="fas fa-check"></i>
                        </ng-container>
                        <ng-template #unpublished>
                          <i class="fas fa-ban"></i> 
                        </ng-template>
                      </td>
                      <td> <a *ngIf="project.demoUrl" [href]="project.demoUrl" target="_blank">{{ project.demoUrl }}</a> </td>
                      <td> <a *ngIf="project.githubUrl" [href]="project.githubUrl" target="_blank">{{ project.githubUrl }}</a></td>
                      <td class="number"> {{ project.displayOrder }} </td>
                      <td> 
                        <div class="actions">
                          <div (click)="editProject(project)" class="action">
                            <i class="fas fa-pen-alt"></i>
                          </div>
                          <div (click)="deleteProject()" class="action">
                            <i class="fas fa-trash-alt danger"></i>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-footer">
                <button class="btn btn-primary" (click)="addProject()" >Add project</button>  
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

  <ng-template #newProjectTemplate let-modal>
  </ng-template>


  <ng-template #editProjectTemplate let-modal>

    
  </ng-template>
  

  <ng-template #projectModalBase>
    
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" />
    </div>

    <div class="form-group">
      <label>Description</label>
      <app-rich-text-editor></app-rich-text-editor>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Demo image</label>
          <div class="custom-file">
            
            <input type="file" class="form-control" id="customFile" />
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
        
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Demo</label>
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Github</label>
          <input class="form-control" type="text" />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label>Display order</label>
          <input class="form-control" type="number"/>
        </div>
      </div>

      <div class="col-6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" />
          <label class="form-check-label" for="exampleCheck1">Published</label>
        </div>
      </div>
    </div>
  </ng-template>
